@{
    int number = 90;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DocumentationApp</title>
    <link rel="stylesheet" href="~/_Layout.cshtml.css">
</head>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <h2>@number</h2>
            <h2 class="sdd">Hello</h2>
        </main>
    </div>
</body>

</html>
